.base {
    background-color: #1093D2;
    margin: 7%;
}

#display_image{
  max-width: 100%;
  height: 300px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.corner {
    border-radius: 20px;
}

.largeur {
    max-width: 100%;
}

.corner2
{
    border-radius: 5px;
}

.grey
{
    background-color: #BFBFBF;
}

progress {
    max-width: 30%;
}