<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>AutisSo</title>
</head>

<body class="base">
    <div class="container">
        <img src="{{url_for('static', filename='img/logo.png')}}" />
        <nav class="navbar navbar-expand-lg navbar-light grey corner my-2 border border-dark border-3">
            <div class="container-fluid text-center">
                <div class="col-sm">
                    <a href="/game">
                        Memory Game
                    </a>
                </div>
            </div>
        </nav>
        <div class="text-center border border-dark border-3 container corner grey">
            <div class="row my-4">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 w-100-p3 corner largeur" id="display_image">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="my-4">
                <form method="POST" action="" enctype="multipart/form-data" class="form-group" name="photo">
                    <div class="my-4 bar text-center">
                        <div>
                            <progress value="{{ probability }}" max="100"></progress>
                            <label> {{ probability }}% </label>
                        </div>
                    </div>
                    <div class="row align-items-start bg-light corner2 mx-4">
                        {% if predicted_label == class_names[0] %}
                        <div class="col bg-success">
                        {% else %}
                        <div class="col">
                        {% endif %}
                            Joie
                        </div>
                        {% if predicted_label == class_names[1] %}
                        <div class="col bg-success">
                        {% else %}
                        <div class="col">
                        {% endif %}
                            Peur
                        </div>
                        {% if predicted_label == class_names[2] %}
                        <div class="col bg-success">
                        {% else %}
                        <div class="col">
                        {% endif %}
                            Colère
                        </div>
                        {% if predicted_label == class_names[3] %}
                        <div class="col bg-success">
                        {% else %}
                        <div class="col">
                        {% endif %}
                            Surprise
                        </div>
                        {% if predicted_label == class_names[4] %}
                        <div class="col bg-success">
                        {% else %}
                        <div class="col">
                        {% endif %}
                            Tristesse
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 my-4">
                            <label for="formFile" class="form-label">Choisir une photo</label>
                            <input class="form-control" type="file" id="formFile" name="file">
                        </div>
                        <div class="col-sm-6 my-4">
                            <label class="form-label">Prendre une photo</label>
                            <button class="form-control btn btn-primary" id="snap" type="button">Webcam</button>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button class="btn btn-primary mt-2 btn-lg" type="submit" value="Submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>