<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Memory Game</title>
  <link rel="stylesheet" href="css.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="base">
  <div class="container">
    <img src="Images/logo_AutisSo_avec_ombre_sans_fond.png">
    <nav class="navbar navbar-expand-lg navbar-light grey corner my-2 border border-dark border-3">
      <div class="container-fluid text-center">
        <div class="col-sm">
          <a href="index.html">
            Reconnaissance émotions
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="border border-dark border-3 container corner grey">
    <div class="memory-game">
      <div class="memory-card" data-framework="aurelia">
        <img class="front-face" src="img/aurelia.svg" alt="Aurelia" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="aurelia">
        <img class="front-face" src="img/aurelia.svg" alt="Aurelia" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="vue">
        <img class="front-face" src="img/vue.svg" alt="Vue" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="vue">
        <img class="front-face" src="img/vue.svg" alt="Vue" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="angular">
        <img class="front-face" src="img/angular.svg" alt="Angular" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="angular">
        <img class="front-face" src="img/angular.svg" alt="Angular" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="ember">
        <img class="front-face" src="img/ember.svg" alt="Ember" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="ember">
        <img class="front-face" src="img/ember.svg" alt="Ember" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="backbone">
        <img class="front-face" src="img/backbone.svg" alt="Backbone" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="backbone">
        <img class="front-face" src="img/backbone.svg" alt="Backbone" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>

      <div class="memory-card" data-framework="react">
        <img class="front-face" src="img/react.svg" alt="React" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
      <div class="memory-card" data-framework="react">
        <img class="front-face" src="img/react.svg" alt="React" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
    </div>
  </div>
  <script src="scripts.js"></script>
</body>

</html>